

/*-==Menu==-*/

header {
    top: 0;
    left: 0;
    right: 0;
    width: 0;
    background: transparent;
    display: flex;
    align-items: center;
    text-align: center;
    justify-content: space-around;
    z-index: 1;
}

nav {
    margin-bottom: 100px;
}

.sto {
    display: flex;
    text-transform: uppercase;
    color: white;
    position: absolute;
    font-size: 30px;
    left: 20px;
    top: 20px;
}

.sto:hover {
    color: yellow;
    transition: .5s;
}

.sto2 {
    text-transform: uppercase;
    margin-left: 50px;
    position: absolute;
    color: yellow;
    font-size: 30px;
    left: 52px;
    top: 35px;
}

.sto2:hover {
    color: white;
    transition: .5s;
}

.stoo {
    color: yellow;
}

.stoo:hover {
    color: white;
    transition: .5s;
}

header .menu ul {
    display: flex;
    position: absolute;
    left: 35vh;
    top: 20px;
}

header .menu ul li {
    padding: 0 10px;
    list-style: none;
}

header .menu ul li a {
    text-decoration: none;
    text-transform: uppercase;
}

/*-==BtnnStyle-==*/
.btnn {
    position: relative;
    display: inline-block;
    padding: 15px 30px;
    color: white;
    text-transform: uppercase;
    letter-spacing: 4px;
    text-decoration: none;
    font-size: 20px;
    overflow: hidden;
    transition: 0.2s;
}

.btnn:hover {
    color: black;
    background: #FFFF00;
    box-shadow: 0 0 10px #fffb29, 0 0 40px #fffb00, 0 0 80px #ffef09;
    transition-delay: 1s;
}

.btnn span {
    position: absolute;
    display: block;
}

.btnn span:nth-child(1) {
    top: 0;
    left: -100%;
    width: 100%;
    height: 2px;
    background: linear-gradient(90deg, transparent, #FFFF00);
}

.btnn:hover span:nth-child(1) {
    left: 100%;
    transition: 1s;
}

.btnn span:nth-child(3) {
    bottom: 0;
    right: -100%;
    width: 100%;
    height: 2px;
    background: linear-gradient(270deg, transparent, #FFFF00);
}

.btnn:hover span:nth-child(3) {
    right: 100%;
    transition: 1s;
    transition-delay: 0.5s;
}

.btnn span:nth-child(2) {
    top: -100%;
    right: 0;
    width: 2px;
    height: 100%;
    background: linear-gradient(180deg, transparent, #FFFF00);
}

.btnn:hover span:nth-child(2) {
    top: 100%;
    transition: 1s;
    transition-delay: 0.25s;
}

.btnn span:nth-child(4) {
    bottom: -100%;
    left: 0;
    width: 2px;
    height: 100%;
    background: linear-gradient(360deg, transparent, #FFFF00);
}

.btnn:hover span:nth-child(4) {
    bottom: 100%;
    transition: 1s;
    transition-delay: 0.75s;
}

/*==FBtnnStyle==*/
.agend {
    display: flex;
    position: absolute;
    right: 5vh;
    top: 25px;
    text-decoration: none;
    padding: 10px 10px;
    text-transform: uppercase;
    color: black;
    background: yellow;
    border-radius: 10px;
}

.agend:hover {
    color: black;
}

/*-==FMenu==-*/
