/*-==Titulo==-*/
.titulo{
    display: flex;
    justify-content: center;
    align-items: center;
}
.title{
    position: relative;
    margin-left: 450px;
    color: white;
    text-transform: uppercase;
    letter-spacing: 6px;
    text-decoration: none;
    font-size: 40px;
    transition: 0.2s;
}
.titulo2{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 40vh;
}
.title2{
    position: relative;
    right:26px;
    color: white;
    text-transform: uppercase;
    letter-spacing: 6px;
    text-decoration: none;
    font-size: 40px;
    transition: 0.2s;
}
.oo{
    font-size: 8vh;
    color: yellow;
}
/*-==FTitulo==-*/